 <link rel="stylesheet" href="/css/home.css">

<div id="home-container">
    <section id="posts-feed">
        <h4>Posts</h4>
        <% if(locals.user){ %> <!-- form will appear ony if signed in we will add another secu. in posts.js  -->
            <form action="/posts/create" id="new-post-form" method="post">
                <textarea name="content" placeholder="Type here..." cols="30" rows="3" required></textarea>
                <input type="submit" value="post">
            </form>
            <% } %>
                <div id="post_container">
                    <ul>
                        <% for(post of posts){ %>
                             <%- include('_post.ejs') %> <!-- we made other ejs file for post  -->
                            <% } %>
                    </ul>
                </div>
    </section>
    
    <section id="user-frnds">
    <h4>Friends</h4>
    <% for(u of all_users) {%>
        <p>
            <a href="/users/profile/<%= u.id %>"><%= u.name %> </a>
        </p>
    <%}%>
    </section>
</div>