<h1>Sign Up</h1>

<form action="/users/create" method="POST">  <!-- its method is post so we will req data in users_contro  -->
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <input type="submit" value="Sign Up"> <!-- create button that will send form data to server -->

</form>