<link rel="stylesheet" href="/css/user_profile.css">
<div id="profile_body">
    <h1>
        Codeial / Profile Page
    </h1>

    <p>Your Name :- <%= user.name %>
    </p>
    <p>Email :- <%= user.email %>
    </p>

</div>